body {
    margin: 0;
    font-family:Arial;
}

.cabecera {
    padding: 10px;
    background-color: #f5f5f5;
}

.cabecera img {
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}

.menu {
    background-color: #A9A9A9;
    overflow: hidden;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 105%;
    color:#f5f5f5;
    display: block;
    float: left;
}

.menu a:hover {
    background-color: #696969;
}

.auxiliar {
    overflow-wrap: break-word;
    float: left;
    margin-right: 1%;
    background-color: #f5f5f5;
    width: 15%;
    text-align: center;
}

.auxiliar a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 105%;
    text-decoration: none;
    color:black;
}

.auxiliar a:hover {
    color: #f5f5f5;
    background-color: #A9A9A9;
}

.principal {
    width: 85%;
    margin-left: 16%;
}

div.galeria {
    float:left;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 45%;
    border: 1px;
    border-radius: 1%;
    border-style: solid;
    border-color: black;
}

div.galeria img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

div.desc a {
    text-decoration: none;
    color: black;
}

div.galeria:hover {
    background-color: #A9A9A9;
    color: #f5f5f5;
}

footer {
    float: inline-end;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-size: small;
    padding: 10px;
    background-color: #f5f5f5;
}


